/* Changed base background and font color */
body {
  background: #e8f1f8;
  color: #266dd3;
}

/* Headings */
h1.page-header,
h1.header,
h1,
h2 {
  color: #266dd3 !important;
}

/* Links */
.link {
  color: #266dd3 !important;
}
.link:hover {
  text-decoration: underline !important;
}

/* Buttons */
.button,
.ui-button {
  background: #266dd3 !important;
  color: #fff !important;
}

/* Input fields */
input[type='text'],
input[type='password'],
input[type='tel'],
input[type='text']:focus,
input[type='password']:focus,
input[type='tel']:focus {
  border: 1px solid #266dd3;
  color: #266dd3;
}

/* Messages and Info Boxes */
.message,
.infobox {
  background: #dce7f8
    url("data:image/svg+xml...fill='%23266dd3'...") no-repeat !important;
  color: #266dd3 !important;
}

.message p,
.infobox p {
  color: #266dd3 !important;
}

/* Combobox, dropdowns */
.combobox {
  border: 1px solid #266dd3 !important;
  color: #266dd3 !important;
}
.combobox__dropdown.dropdown.dropdown--state-open {
  background: #e8f1f8;
}

/* Validation */
form .group .group__inner input.fillin.validation-field {
  border: 2px solid #347deb;
}
form .group .group__inner .validation-message.error .validation-message__text {
  color: #347deb !important;
}

/* Alternate block styling */
.table th,
.table tr:nth-child(2n) td,
.webiteminfo .item-info-sidebar,
.webiteminfo .item-info-additional,
.webiteminfo .item-info__heading {
  background: rgba(38, 109, 211, 0.2) !important;
}

/* Slate button (was muted coral) */
.websearch
#frwebsearch_nextgenresultsgroup
#frwebsearch_output_table
.button.multi-select.full-block.notice.cart-button.cart-button--state-block {
  background-color: #6b7db3 !important;
}
